doctype html
html
  head
    title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='UTF-8')
    script(src='jquery-3.5.1.min.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    style.
      html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    // Top container
    .w3-bar.w3-top.w3-black.w3-large(style='z-index:4')
      button.w3-bar-item.w3-button.w3-hide-large.w3-hover-none.w3-hover-text-light-grey(onclick='w3_open();')
        i.fa.fa-bars
        |  &nbsp;Menu
      span.w3-bar-item.w3-right TPC4
    // Sidebar/menu
    br
    br
    nav#mySidebar.w3-sidebar.w3-collapse.w3-white.w3-animate-left(style='z-index:3;width:300px;')
      br
      br
      .w3-container.w3-row
        .w3-col.s4
        .w3-col.s8.w3-bar
          span
            | TPC4 - , 
            strong Tabela Periodica
          br
          br
      hr
      .w3-container
        h5 Dashboard
      .w3-bar-block
        a.w3-bar-item.w3-button.w3-padding-16.w3-hide-large.w3-dark-grey.w3-hover-black(href='#' onclick='w3_close()' title='close menu')
          i.fa.fa-remove.fa-fw
          | &nbsp; Close Menu
        a.w3-bar-item.w3-button.w3-padding.w3-blue(href='/')
          i.fa.fa-history.fa-fw
          | &nbsp; Página Inicial
        a.w3-bar-item.w3-button.w3-padding(href='/elements')
          i.fa.fa-diamond.fa-fw
          | &nbsp; Elementos
        a.w3-bar-item.w3-button.w3-padding(href='/groups')
          i.fa.fa-users.fa-fw
          | &nbsp; Grupos
        a.w3-bar-item.w3-button.w3-padding(href='/peri')
          i.fa.fa-bullseye.fa-fw
          | &nbsp; Periodos
        br
        br
    body
      block content
